@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #e1e2e2;
    color: #1d2228;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d2228;
}
.header-text {
    margin-left: 25px;
    margin-right: 25px;
    color: #fb8122;
    padding: 15px;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border-bottom: 2px solid #1d2228;
}

img {
    width: 150px;
    height: 150px;
}
.indiv-movies {
    margin: 10px;
    font-weight: bold;
}
.starring {
    width: 150px;
}

.btn {
    width: 150px;
    padding: 8px;
    border-radius: 8px;
    background-color: #1d2228;
    color: #fb8122;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #fb8122;
    color: #1d2228;
}

.btn-placement {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn-basket {
    width: 100px;
}
.btn-color {
    background-color: #fb8122;
    color: #1d2228;
    font-weight: bold;
    font-size: 0.9rem;
}

.btn-color:hover {
    background-color: #1d2228;
    color: #fb8122;
}

.btn-minus {
    background-color: #e1e2e2;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    color: #fb8122;
}

.color {
    color: #fb8122;
}

.basket-title {
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #1d2228;
}
/* .movies-basket-container {
    display: flex;
    flex-wrap: wrap;
} */

.basket-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
}
