@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

body {
    font-family: 'Space Grotesk', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgb(145, 27, 162);
    background: linear-gradient(
        163deg,
        rgba(145, 27, 162, 1) 70%,
        rgba(47, 9, 17, 1) 100%
    );
}
.header-text {
    margin-left: 25px;
    margin-right: 25px;
}
